.register-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16a085;
    height: 100vh;
    width: 100%;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 400px;
    background: #ecf0f1;
    border-radius: 15px;
    -webkit-box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.2);
}

form.register {
    text-align: center;
}

form.register input {
    margin: 5px;
    height: 35px;
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    color: #7f8c8d;
}

form.register button {
    margin: 5px;
    margin-top: 15px;
    height: 35px;
    width: 80%;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: #2c3e50;
    cursor: pointer;
    transition: all 0.2s;
}

form.register h2 {
    padding: 10px;
    color: #2c3e50;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 10px;
}

button.notification {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: #2c3e50;
    cursor: pointer;
    transition: all 0.2s;
}