.search-list {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
}

.search-list button.more {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
    font-weight: lighter;
    font-size: 40px;
    background: #bdc3c7;
    color: #ecf0f1;
    text-align: center;
}

.search-list h1 {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 85vh;
}

@media screen and (max-width: 1024px) {
    .search-list {
        padding-left: 5%;
        padding-right: 5%;
    }
}